.upper{
    background-color: #0B0B45;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 20%;
    height: 40px;
    
}
p{
    margin: 0px;
}

.middle{
    background-color: #0a2351;
    min-height: calc(100vh - 100px); 
    padding-top: 20px;
    margin: 0px;
    padding-bottom: 20px;
}


.lower{
    background-color: #0B0B45;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 20%;
    height:  20px;
    
    
}

.codeEditor{
    margin: 0px;
    background-color: grey;
}
.Title{
    color: lightblue ;
    font-size: x-large;
    font-weight: bold;
}

.menu{
    font-size: large;
    font-weight: bold;
    
}

a{
    color: lightblue;
    text-decoration: none;
}

.profileImage{
    width: 345px;
    height: auto;
    
}

.aboutContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px; 
}

.aboutMe{
    width: 70%;
    
}



img{
    width: 100%;
    height: auto;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    
}

.about.text{
    

}



.text{
    color: lightblue;
    margin: 15px;
}

.header{
    color: lightblue;
    font-size: larger;
    font-weight: bold;
    margin: 15px;

}

.featuredImage{
    width: 160px;
    height: auto;
}




