.upper{
    background-color: #0B0B45;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 20%;
    height: 40px;
    
}
p{
    margin: 0px;
}

.middle{
    background-color: #f8f8ff;
    min-height: calc(100vh - 100px); 
    padding-top: 20px;
    margin: 0px;
    padding-bottom: 20px;
}


.lower{
    background-color: rgb(11, 11, 69);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 20%;
    height:  20px;
    
    
}

.codeEditor{
    margin: 0 auto;
    padding: 30px;
    width: 80%;
    border: solid rgb(196, 196, 196);
    border-width: 1px;
    font-size: large;
    background-color: #303030; 
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}



.codeMenu{
    margin-left: -30px;
    margin-top: -30px;
    margin-right: -30px;
    padding-left: 15px;
    width: auto;
    height: 25px;
    background-color: rgb(196, 196, 196);
}

.windowButton{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    border-width: 2px;
    border: solid silver;
}

.redButton{
    background-color: red;
}

.yellowButton{
    background-color: yellow;
}

.greenButton{
    background-color: #0BDA51;
}

.codeCursor{
    display: inline-block;
    background-color: lightgray;
    margin-left: 10px;
    width: 10px;
    height: 22px;
    animation: blink 1s infinite;
    margin-bottom: -5px;
    

}

@keyframes blink {
    50%{
        opacity: 0;
    }    
}

.codeVariable{
    margin-top: 20px;
    color: white;
}

.codeOperator{
    color: white;
}

.codeString{
    color: rgb(240, 134, 14);
}

.Title{
    color: rgb(173, 216, 230) ;
    font-size: x-large;
    font-weight: bold;
}

.menu{
    font-size: large;
    font-weight: bold;
    
}

a{
    color: lightblue;
    text-decoration: none;
}

.profileImage{
    width: 150px;
    height: auto;
    border-radius: 95px;
    margin: 0 auto;
}

.aboutContent{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    background-color: #c4c3d0;
    border-radius: 5px;
}

.aboutMe{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;    
}

img{
    width: 100%;
    height: auto;
    
}

#align img{
    vertical-align: middle;
    border-radius: 95px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    min-height: 100vh;
    background-color: #0B0B45;
}





.text{
    color: #353839;
    font-weight: 400;
    margin: 15px;
}

.aboutText{
    color: #0B0B45;
}

.header{
    color:#0B0B45;
    font-size: larger;
    font-weight: bold;
    margin: 15px;
    text-align: center;

}

.featuredImage{
    width: 160px;
    height: auto;
}




